.newsletterContent {
    position: relative;
    width: 100%;
}
.newsletterBGImg {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    height: 500px;
    object-position: center;
}
.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    position: relative;
    z-index: 10;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.content h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-right: 0px;
}
.formContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formContainer input {
    height: 3.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    -webkit-border: 1px transparent;
    -moz-border: 1px transparent;
    -ms-border: 1px transparent;
    border: 1px transparent;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    padding-left: 1rem;
}
@media
 (min-width: 1440px) {
    .content {
        max-width: 28rem;
    }
.content h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
}