:root {
    /* Colors */
    --color-primary: #0525e2;
    --color-black: #211f1b;
    --color-aquamarine: #69dee3;
    --color-white: #ffffff;
    --color-grey: #f2f2f2;

    /* Spacing */
    --spacing-half: .5rem;
    --spacing-three-quarters: .75rem;
    --spacing-single: 1rem;
    --spacing-single-half: 1.5rem;
    --spacing-double: 2rem;
    --spacing-triple: 3rem;
  }