/* VARIABLES */
$primary: '#0525e2';
$black: '#211f1b';
$aquamarine: '#69dee3';
$white: '#ffffff';
$grey: '#f2f2f2';
$single: 1rem;
$double: 2rem;
$triple: 3rem;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 450px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1366px,
  3xl: 1440px,
) !default;