@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";


/*** Details **/

.detailsSection {
    padding-top: $single;
}

.container {
    padding-right: $single;
    padding-left: $single;
    padding-top: $single;

    h1 {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        padding-bottom: 1.5rem;
    }
}


.someIconContainer {
    padding-top: $single;
    padding-bottom: $single;
}

.someContent {
    @include display-flex;
    @include flex-direction(column);
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.75rem;
}

.someIcon {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $primary;
}

.someText {
    margin-left: 1.5rem;
}

/*** Form **/

#formSection {
    padding-bottom: $single;
}

.formContainer {
    @include display-flex;
    @include flex-direction(column);
    justify-content: center;
    padding: $single;
}

.formControl {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;

    label, small {
        display: block;
        margin-bottom: 0.5rem;
        margin-left: 0.75rem;

        &:last-child {
            margin-bottom: 1.5rem;
        }
     }

}

.newsletterControl {
    @include display-flex;
    align-items:center; 
}

.newsletterLabel {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline-block;
    margin-left: 0.5rem;
}


.formControl textarea,
.formControl input {
    margin-top: 0.5rem;
    margin-bottom: $single;
    @include border(1px solid);
    border-color: $black;
    @include border-radius(.25rem);
    padding-left: 1rem;
    background-color: $grey;
    color: $black;
    width: 100%;
}

.formControl textarea {
    height: 7rem;
    padding-top: $single;
}

.formControl input {
    height: 3.5rem;
    padding-top: 0;
}

.formControl input.newsletterCheckBox {
    height: 2.25rem;
    width: 2.25rem;
    display: inline-block;
    margin-left: .25rem;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
    .contactPageContainer {
        @include flex-direction(row);
    }

    .detailsSection,
    #formSection {
        max-width: 50%;
        flex: 0 0 50%;
    }
}