#faqSection {
    padding-bottom: 1rem;
}
.container {
    padding: 1rem;
}
.content {
    width: 100%;
    border: 2px solid;
    border-color: #211f1b;
    border-radius: var(--spacing-single-half);

}
.faqButton {
    border: none;
    background-color: var(--color-white);
}
.faq {
    text-align: left;
    width: 100%;
    -webkit-border: 1px solid;
    -moz-border: 1px solid;
    -ms-border: 1px solid;
    border: 1px solid;
    border-color: #211f1b;
    min-height: 10px;
}
.faqFlexBox {
    display: flex;
    align-items: center;
}
.faqQuestionHeading {
    font-weight: 700;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.faqIcon {
    background-image: none;
    -webkit-border: 0px solid;
    -moz-border: 0px solid;
    -ms-border: 0px solid;
    border: 0px solid;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.faqClosed {
    background-color: var(--color-grey);
}
.faqOpen {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.faqAnswerDivider {
    border-color: var(--color-grey);
    border-top-width: 2px;
}
.faqAnswer {
    transition: max-height 0.6s ease;
    max-height: 0;
    overflow: hidden;
    background-color: var(--color-white);
    color: #211f1b;
    margin-left: .5rem;
    margin-right: .5rem;
}
.faqAnswerText {
    padding: 1rem .5rem;
}
@media
 (min-width: 1440px) {
    #faqSection {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .faqSectionContainer {
        display: flex;
    }

    .profilePic,
    .FAQ_container {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .FAQ_container {
        flex-direction: column;
        justify-content: flex-start;
    }
}