#faqSection {
    padding-bottom: var(--single);
}

.container {
   padding: var(--single);
}

.content {
    width: 100%;
    border-width: 2px;
    border-color: var(--black);
    --tw-border-opacity: 1;
    border-radius: 0.375rem /* 6px */;
}

.faq {
    text-align: left;
    width: 100%;
    border-width: 1px;
    border-color: var(--black); 
    --tw-border-opacity: 1;
    min-height: 10px;
}

.faqFlexBox {
    display: flex;
    align-items: center
}

.faqQuestionHeading {
    font-weight: 700;
    margin-left: var(--single);
    padding-top: var(--single);
    padding-bottom: var(--single);
}


.faqIcon {
    background-image: none;
    border-width: 0;
    cursor: pointer;
    margin-right: var(--single);
    margin-left: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.faqClosed {
    background-color: var(--grey);
}

.faqOpen {
    background-color: var(--primary);
    color: var(--white);
}

.faqAnswerDivider {
    --tw-border-opacity: 1;
    border-color: var(--grey / var(--tw-border-opacity));
    border-top-width: 2px;
}

.faqAnswer {
    transition: max-height 0.6s ease;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    color: var(--black);
    margin-left: .5rem;
    margin-right: .5rem;
}

.faqAnswerText {
    padding: var(--single) .5rem;
}

/* DESKTOP STYLES */
@media (min-width: 1024px) {
    #faqSection {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .faqSectionContainer {
       display: flex;
    }
    
    .profilePic,
    .FAQ_container {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .FAQ_container {
        flex-direction: column;
        justify-content: flex-start;
    }
}