#Footer {
    padding-bottom: 5rem;
    background-color: var(--primary);
    color: var(--white);
}

.footerSoMEContainer {
    padding-top: var(--double);
    padding-bottom: var(--single);
    display: flex;
    justify-content: space-evenly;
    margin-left: var(--single);
    margin-right: var(--single);
}

.someIcons {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}

.footerDetailsContainer {
    display: flex;
    justify-content: center;
    padding-top: var(--single);
    padding-bottom: var(--single);
}


.detailsTxt {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.detailsTxt::after {
    content:'|';
    margin-left: .25rem;
}

.footerKultakammen {
    margin-left: .5rem;
}


.MobileFooterBar {
    background-color: var(--primary);
    border-width: 1px;
    border-top-color: var(--white);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.5rem;
    width: 100%;
    z-index: 50;
    text-align: center;
}

.mobileMenuWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mobileMenuWrapper a {
    color: var(--white);
    position: relative;
    width: 5rem;
    height: 4rem;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
}

.mobileIcon {
    margin-top: 0.75rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.mobileLinkText {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.625;
}

/* DESKTOP STYLES */
@media (min-width: 1024px) {

    #Footer {
        padding-bottom: 0;
    }

    .footerSoMEContainer {
        max-width: 50%;
        align-items: center;
        margin-left: var(--triple);
    }

    .someIcons {
        font-size: 2.25rem;
        line-height: 2.5rem;
        padding-left: var(--single);
        padding-right: var(--single);
    }

    .footerDetailsContainer {
        width: 100%;
        justify-content: flex-start;
        border-top-width: 2px;
        border-color: var(--white);
    }

    .DetailsDesktopContainer {
        display: flex;
        justify-content: flex-start;
    }

    .footerKultakammen {
        margin-left: 0;
        margin-right: var(--double);
    }
    
    .footerContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .footerDesktopLogoContainer {
        padding: var(--double);
        max-width: 50%;
        flex: 0 0 50%;
    }
}