.footer {
    padding-bottom: 5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* Mobile Footer */

.mobileFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.5rem;
    width: 100%;
    z-index: 50;
    text-align: center;
    background-color: var(--color-primary);
    border: 1px solid;
    border-top-color: var(--color-white);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.mobileMenuWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mobileMenuLink{
    color: var(--color-white);
    position: relative;
    width: 5rem;
    height: 4rem;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
}

.mobileIcon {
    margin-top: var(--spacing-three-quarters);
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.mobileLinkText {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.625;
}

/* Desktop Wrapper */

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 var(--spacing-double);
    max-width: var(--container-desktop);
}

.desktopLogo {
    display:none;
}

/* Sub Footer */

.subFooter {
    padding-top: var(--spacing-single);
    padding-bottom: var(--spacing-single);
}

.subFooterWrapper {
    max-width: var(--container-desktop);
    padding: 0 var(--spacing-double);
    margin: 0 auto;
}


/* 

    .detailsTxt::after {
        content: '|';
        margin-left: .25rem;
    } 
    .footerKultakammen {
        margin-left: .5rem;
    }

*/

@media (width >= 1440px) {

    .mobileFooter {
        display: none;
    }

    .footer {
        padding-bottom: 0;
    }

    .wrapper {
        flex-direction: row;
    }
    
    .someContainer {
        max-width: 50%;
    }

    .iconsWrapper {
        gap: var(--spacing-double);
    }

    .footerContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .desktopLogo {
        display: flex;
        padding: 2rem;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .subFooterWrapper {
        text-align: center;
    }

}