@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: auto;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	color:$black;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a, p, input, span, button, strong, small {
	font-family: 'Ubuntu', sans-serif;
}

main {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.btn {
	background-color: $primary;
	color: $white;
	font-weight: 700;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding-top: 0.375rem;
    padding-bottom: 0.375rem;
	padding-left: 0.75rem;
    padding-right: 0.75rem;
	width: 100%;
    @include display-flex;
	justify-content: center;
	@include border(1px transparent);
}

.btn:hover,
.btn:focus {
	background-color: $aquamarine;
}

.buttonWrapper {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
	color: inherit;
	text-decoration-line: none;
}


/* Section Intro */
.sectionHeader {
	padding-left: $single;
    padding-right: $single;
	padding-bottom: $single;
}

.container > .sectionHeader h2,
.content h2 {
	margin: $single;
	font-weight: 700;
	font-size: 1.5rem;
    line-height: 2rem;
}

.alt-bg {
	background-color: $grey;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}



.ContactContainer {
	@include display-flex;
    @include flex-direction(column);
    justify-content: center;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}

	.container {
		max-width: $container-desktop;
	}

	.container > .sectionHeader h2 {
		padding-left: $single;
		font-size: 2.25rem;
        line-height: 2.5rem;
		padding-top: $double;
	}

	.ContactContainer {
		@include flex-direction(row);
	}
}