@import './partials/variables.css';
@import './partials/breakpoints.css';
@import './partials/typography.css';
@import './partials/utils.css';

/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: auto;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	color: var(--color-primary);
	scroll-behavior: smooth;
	line-height: 1.5;
}

main {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

section {
	padding-top: var(--spacing-double);
	padding-bottom: var(--spacing-double);
	margin-bottom: var(--spacing-double);
	max-width: var(--container-desktop);
}

section > header {
	padding-left: var(--spacing-single);
	padding-right: var(--spacing-single);
	padding-bottom: var(--spacing-single);
}

section > header h2,
.content h2 {
	margin: var(--spacing-single);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

.alt-bg {
	background-color: #f2f2f2;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

@media (width >= 1440px) {

	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}

	section {
		padding-top: var(--spacing-triple);
		padding-bottom: var(--spacing-triple);
		margin-bottom: var(--spacing-triple);
	}

	.container > .sectionHeader h2 {
		padding-top: var(--spacing-double);
		padding-left: var(--spacing-single);
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}