@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #0525e2;
	--black: #211f1b;
	--aquamarine: #69dee3;
	--white: #ffffff;
	--grey: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.btn {
	@apply bg-primary text-white transition ease-in-out duration-150 py-1.5 px-3 hover:bg-aquamarine focus:bg-aquamarine
}



a {
	color: inherit;
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
	.mobile-only {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.desktop-only {
		display: none;
	}
}
