.header {
    background-color: var(--color-primary);
    color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 200;
}

.wrapper {
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mobileLogo {
    height: 50px;
    width: 60px;
    margin-right: 2rem;
}

.logo {
    font-size: 2rem;
}

.nav {
    display: none;
}

.active,
.nav a:hover,
.nav a:focus {
    text-decoration-line: underline;
    text-decoration-color: var(--color-aquamarine);
    text-underline-offset: var(--spacing-half);
    text-decoration-thickness: 8px;
}

@media (width >= 1440px) {

    .header {
        position: relative;
        max-height: 999px;
        padding: var(--spacing-single) var(--spacing-double);
    }


    .wrapper {
        max-width: var(--container-desktop);
        margin: 0 auto;
        padding: 0 var(--spacing-double);
    }

	.logo {
		font-size: 3rem;
		line-height: 2.5;
	}

	.logoContainer {
		display: block;
		width: 100%;
	}

    .nav {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-single-half);
        width: 100%;
    }

    .nav a {
        font-size: 2rem;
    }

}