.hero {
    position: relative;
    display: flex;
    flex-direction: column;
}

.imageDesktopWrapper,
.imageMobileWrapper {
    position: relative; 
    width: 100%; 
    overflow: hidden; 
}

.imageMobileWrapper {
    height: 270px; 
}

.imageDesktopWrapper {
    display: none;
}

.image {
    object-fit: cover;
    object-position: center;
}

.contentWrapper {
    position: relative;
    z-index: 1;
}

.circleWrapper {
    position: absolute;
    top: -5rem;
    right: 1rem;
    z-index: 10;
}

.circle {
    display: block;
    background-color: var(--color-white);
    height: 3.5rem;
    width: 3.5rem;
    margin: 0;
    border-radius: 100%;
}

.circleText {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-primary);
}

.circleTextWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.textWrapper {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: var(--spacing-double);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single-half);
}

.title {
    font-size:  1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: var(--spacing-half);
    margin-bottom: var(--spacing-half);
    font-weight: 500;
}

.button {
    border: 1px solid;
    border-color: var(--color-white);
    width: 80%;
}

/* ALT HERO */

.altContainer {
    position: absolute;
    top: 50%;
    left: 5%;
    font-weight: 700;
    color: var(--color-white);
}

@media (width >= 720px) {

    .hero,
    .imageDesktopWrapper {
        display: block;
    }

    .imageMobileWrapper {
        display: none;
    }

    .contentWrapper,
    .imageDesktopWrapper {
        height: 658px;
    }

    .contentWrapper {
        align-content: center;
        padding: var(--spacing-single) var(--spacing-double);
    }

    .imageDesktopWrapper {
        position: absolute;
        z-index: 0;
    }

    .textWrapper {
        max-width: 50%;
        border: 1px solid transparent;
        border-radius: 0.375rem;
    }

}

@media (width >= 1440px) {

    .contentWrapper {
        max-width: var(--container-desktop);
        margin: 0 auto;
    }

    .circleWrapper {
        top: 50%;
        right: var(--spacing-quadruple); 
    }

    .circle {
        height: 10rem;
        width: 10rem;
    }

    .circleText {
        font-size: 3.75rem;
        line-height: 1;
    }

    .textWrapper {
        max-width: 720px;

    }

    .title {
        font-size: 2.25rem;
        line-height: 2.5;
    }

    .subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .altContainer > .title {
        font-size: 80px;
    }

}