.circleWrapper {
    position: absolute;
    top: 11rem;
    right: 3.5rem;
    z-index: 10;
}
.circle {
    display: block;
    background-color: #ffffff;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0;
    border-radius: 9999px;
}
.circleText {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #0525e2;
}
.textWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.container {
    background-color: #0525e2;
    color: #ffffff;
}
.content {
    padding: 1rem;
}
.content h1 {
    font-weight: 700;
    font-size: 22px;
}
.content h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.heroBTN {
    -webkit-border: 1px solid;
    -moz-border: 1px solid;
    -ms-border: 1px solid;
    border: 1px solid;
    border-color: #ffffff;
    width: 80%;
}
.altImageContainer {
    position: relative;
}
.altContainer {
    position: absolute;
    top: 50%;
    left: 4rem;
    color: #ffffff;
    font-weight: 700;
}
@media
 (min-width: 1440px) {
    .circleWrapper {
        top: 10%;
        right: 5%;
    }
.circle {
    height: 12rem;
    width: 12rem;
}

.circleText {
    font-size: 3.75rem;
    line-height: 1;
}

.container {
    position: absolute;
    top: 4%;
    left: 23%;
}

.content {
    max-width: 28rem;
}

.content h1 {
    padding-bottom: 2rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.content h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.altContainer {
    font-size: 80px;
    left: 23%;
}
}