@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

$hero-max-width: 2000px;
$hero-max-height-ratio: 35; // Min-width related to viewport width

#hero {
	position: relative;
	max-width: $hero-max-width;
	margin: auto;
	min-height: $hero-max-height-ratio * 1vw;

	@media (min-width: $hero-max-width) {
		min-height: calc(($hero-max-width / 100) * $hero-max-height-ratio);
	}
}

.textWrapper {
	height: 100%;
	width: 100%;
	@include display-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.contentContainer {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.content {
	padding: $single;
	background-color: $primary;
	color: $white;

	h1 {
		font-weight: 700;
		font-size: 22px;
	}

	h3 {
		font-size: $single;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 500;
	}
	
}

.heroBTN {
	@include border(1px solid);
	border-color: $white;
	width: 80%;
}

/* ALT HERO COMPONENT */

.altImageContainer {
	position: relative;
}

.altContainer {
	position: absolute;
	top: 50%;
	left: 4rem;
	color: $white;
	font-weight: 700;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

	.contentContainer {
		margin: 0 auto;
		max-width: 1440px;
		padding-top: $triple;
	}

	.content {
		max-width: 28rem;

		h1 {
			padding-bottom: $double;
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	
		h3 {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	.altContainer {
		font-size: 80px;
		left: 1%;
	}
}
