@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

.circleWrapper {
	position: absolute;
	top: 11rem;
	right: 3.5rem;
	z-index: 10;
}

.circle {
	display: block;
	background-color: $white;
	height: 3.5rem;
	width: 3.5rem;
	margin: 0;
	@include border-radius(9999px);
}

.circleText {
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
    line-height: 2rem;
	color: $primary;
}

.textWrapper {
	height: 100%;
	width: 100%;
	@include display-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.container {
	background-color: $primary;
	color: $white;
}

.content {
	padding: $single;

	h1 {
		font-weight: 700;
		font-size: 22px;
	}

	h3 {
		font-size: $single;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
}

.heroBTN {
	@include border(1px solid);
	border-color: $white;
	width: 80%;
}

/* ALT HERO COMPONENT */

.altImageContainer {
	position: relative;
}

.altContainer {
	position: absolute;
	top: 50%;
	left: 4rem;
	color: $white;
	font-weight: 700;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
	.circleWrapper {
		top: 10%;
		right: 5%;
	}

	.circle {
		height: 12rem;
		width: 12rem;
	}

	.circleText {
		font-size: 3.75rem;
        line-height: 1;
	}

	.container {
		position: absolute;
		top: 4%;
		left: 23%;
	}

	.content {
		max-width: 28rem;

		h1 {
			padding-bottom: $double;
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	
		h3 {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	.altContainer {
		font-size: 80px;
		left: 23%;
	}
}