.hero,
.imageWrapper {
    position: relative;
    width: 100%;
}

.imageWrapper {
    height: 329px;
    overflow: hidden; 
}

.image {
    object-fit: cover;
    object-position: center;
}

.contentWrapper {
    position: relative;
    z-index: 1;
}

.contentWrapper.contentWrapperAlternative {
    position: absolute;
    bottom: 0;
}

.circleWrapper {
    position: absolute;
    top: -5rem;
    right: var(--spacing-single);
    z-index: 10;
}

.circle {
    display: block;
    background-color: var(--color-white);
    height: 3.5rem;
    width: 3.5rem;
    margin: 0;
    border-radius: 100%;
}

.circleText {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-primary);
}

.circleTextWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.textWrapper {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: var(--spacing-double);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.textWrapper.textWrapperAlternative {
    background-color: transparent;
}

.title {
    font-size:  1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: var(--spacing-half);
    margin-bottom: var(--spacing-half);
    font-weight: 500;
}

.button {
    border: 1px solid;
    border-color: var(--color-white);
    width: 100%;
}


@media (width >= 720px) {
    
    .hero,
    .overlay,
    .imageWrapper {
        height: 658px;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .imageWrapper {
        position: absolute;
        z-index: 0;
    }

    .circleWrapper {
        top: unset;
        bottom: var(--spacing-double);
        right: var(--spacing-double);
    }

    .contentWrapper {
        height: inherit;
        align-content: center;
        padding: var(--spacing-single) var(--spacing-double);
    }

    .textWrapper {
        max-width: 50%;
        border: 1px solid transparent;
        border-radius: var(--spacing-single-half);
        background-color: transparent;
        gap: var(--spacing-single-half);
    }

    .title {
        text-shadow: 2px 2px 4px var(--color-black);
    }

    .button {
        width: fit-content;
    }
}

@media (width >= 1440px) {

    .contentWrapper {
        max-width: var(--container-desktop);
        margin: 0 auto;
    }

    .circle {
        height: 10rem;
        width: 10rem;
    }

    .circleText {
        font-size: 3.75rem;
        line-height: 1;
    }

    .textWrapper {
        max-width: 720px;
    }

    .title {
        font-size: 2.25rem;
        line-height: 2.5;
    }

    .subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}