@import "partials/mixins";
@import "partials/variables";

.newsletterContent {
	position: relative;
	width: 100%;
}

.newsletterBGImg {
	position: absolute;
	inset: 0;
	width: 100%;
	object-fit: cover;
	height: 500px;
	object-position: center;
  }

.content {
	padding-top: $double;
    padding-bottom: $double;
	color: $white;
	position: relative;
	z-index: 10;
	margin-left: 2.5rem;
    margin-right: 2.5rem;

	h2 {
		margin-top: $single;
		margin-bottom: $single;
		margin-left: 0px;
		margin-right: 0px;
	}
}


.formContainer {
	margin-top: $single;
    margin-bottom: $single;

	input {
		height: 3.5rem;
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: $double;
		@include border(1px solid);
		@include border-radius(.25rem);
		padding-left: $single;
	}
	
}


/* DESKTOP STYLES */
@media (min-width: 1024px) {

	.content {
		max-width: 28rem;

		h2 {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	}
}