.references {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
    margin-bottom: 0;
}

.header {
    padding: var(--spacing-single) var(--spacing-single) 0 var(--spacing-single);
}

.imageContainer {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-double);
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

.content {
    position: relative;
    text-align: left;
    background-color: var(--color-white);
    border-radius: var(--spacing-three-quarters);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-single);
    margin: var(--spacing-single);
    padding: var(--spacing-single);
}

.content::before {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 100%;
    border: 8px solid;
}

.content.even::before,
.content.odd::before {
    content: "";
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: var(--color-white);
}

.referee {
    font-weight: 700;
    text-align: left;
    width: 100%;
    padding-top: var(--spacing-double);
}

.subtitle {
    text-align: left;
    width: 100%;
}

.subtitle::after {
    content: url("/images/sydan.png");
    position: absolute;
    bottom: var(--spacing-half);
    right: 2.5rem;
}

@media (width >= 720px) {
    .references {
        margin-bottom: 0;
        gap: var(--spacing-double);
    }

    .reference {
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        display: flex;
    }

    .content {
        width: 50%;
    }

    .content:before {
        bottom: 50%;
    }

    .content.even::before {
        left: -1rem;
        border-left-color: transparent;
        border-right-color: var(--color-white);
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .content.odd::before {
        right: -1rem;
        border-left-color: var(--color-white);
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
}
