.referenceSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.header {
    padding: var(--spacing-single) var(--spacing-single) 0 var(--spacing-single);
}

.imageContainer {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}
.referenceBuble {
    position: relative;
    text-align: left;
    background-color: var(--color-white);
    border-radius: var(--spacing-three-quarters);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--spacing-single);
    padding: var(--spacing-single);
    flex-direction: column;
}
.referenceBuble::before {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 100%;
    border: 8px solid;
}
.referenceBuble.even::before,
.referenceBuble.odd::before {
    content: "";
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: var(--color-white);
}
.referee {
    font-weight: 700;
    text-align: left;
    width: 100%;
    padding-top: 2rem;
}
.refereeWorkTitle {
    margin-top: -2rem;
    text-align: left;
    width: 100%;
}
.refereeWorkTitle::after {
    content: url("/images/sydan.png");
    margin-left: 2.5rem;
}

@media (width >= 1440px) {

    .reference {
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        padding-top: var(--spacing-double);
        padding-bottom: var(--spacing-double);
        display: flex;
    }

    .referenceBuble {
        width: 50%;
    }

    .referenceBuble:before {
        bottom: 50%;
    }

    .referenceBuble.even::before {
        left: -1rem;
        border-left-color: transparent;
        border-right-color: var(--color-white);
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .referenceBuble.odd::before {
        right: -1rem;
        border-left-color: var(--color-white);
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
}