#referenceSection {
    padding-top: var(--single);
    padding-bottom: var(--single);
}

.imageContainer {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.referenceItem {
    @apply lg:flex;
    @apply even:lg:flex-row-reverse;
    @apply lg:py-double;
}

.referenceBuble {
    @apply before:w-0;
    @apply before:h-0;
    @apply before:absolute;
    @apply before:bottom-full;
    @apply before:border-8;
    @apply relative;
    @apply text-left;
    @apply bg-white;
    @apply rounded-xl;
    @apply flex;
    @apply justify-start;
    @apply items-center;
    @apply m-single;
    @apply p-single;
    @apply flex-col;
    @apply lg:mx-auto;
    @apply lg:w-2/4;
    @apply lg:before:bottom-1/2
}

.referenceBuble.even {
    @apply before:border-x-transparent;
    @apply before:border-t-transparent;
    @apply before:border-b-white;
    @apply lg:before:border-y-transparent;
    @apply lg:before:border-l-transparent;
    @apply lg:before:border-r-white;
    @apply lg:before:-left-single;
}

.referenceBuble.odd {
    @apply before:border-x-transparent;
    @apply before:border-t-transparent;
    @apply before:border-b-white;
    @apply lg:before:border-y-transparent;
    @apply lg:before:border-r-transparent;
    @apply lg:before:border-l-white;
    @apply lg:before:-right-single;
}


.referee {
    font-weight: 700;
    text-align: left;
    width: 100%;
    padding-top: var(--double);
}

.refereeWorkTitle {
    @apply after:content-heart;
    @apply after:ml-10;
    @apply -mt-8;
    text-align: left;
    width: 100%;
    
}

/* DESKTOP STYLES */
@media (min-width: 1024px) {

}