@import "partials/mixins";

#referenceSection {
    padding-top: var(--single);
    padding-bottom: var(--single);
}

.imageContainer {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.referenceItem:nth-child(even) {
    @include flex-direction(row-reverse);
}

.referenceBuble {
    position: relative; 
    text-align: left;
    background-color: var(--white);
    @include border-radius(.75rem);
    @include display-flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--single);
    padding: var(--single);
    @include flex-direction(column);

    &::before {
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: 100%;
        @include border(8px solid);
    }
}


.referenceBuble.even::before,
.referenceBuble.odd::before {
    content: "";
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: var(--white);
}

.referee {
    font-weight: 700;
    text-align: left;
    width: 100%;
    padding-top: var(--double);
}

.refereeWorkTitle {
    margin-top: -2rem;
    text-align: left;
    width: 100%;
}

.refereeWorkTitle::after {
    content: url("/images/sydan.png");
    margin-left: 2.5rem;
}

/* DESKTOP STYLES */
@media (min-width: 1024px) {

    .referenceItem {
        padding-top: var(--double);
        padding-bottom: var(--double);
          @include display-flex;
    }

    .referenceBuble {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .referenceBuble:before {
        bottom: 50%;
    }

    .referenceBuble.even::before {
        left: -1rem;
        border-left-color: transparent;
        border-right-color: var(--white);
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .referenceBuble.odd::before {
        right: -1rem;
        border-left-color: var(--white);
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
    
}