/* Theme: List */

.themesList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.header {
    padding: var(--spacing-single) var(--spacing-single) 0 var(--spacing-single);
}

.title {
	font-weight: 700;
}

.themeTitle {
	font-weight: 700;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: var(--spacing-single);
}

.item,
.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.imagecontainer {
    border: 1px transparent;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: var(--spacing-single-quarter);
}

@media (width >= 720px) {

    .wrapper {
        flex-direction: row;
    }

    .item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: var(--spacing-double);
    }

}
