@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

/********
*
* Index Page
*
**********/


/* Theme List && Item */
.themesSection {
    padding-top: $triple;
    padding-bottom: $triple;
}

/* Theme Item */

.content {
    margin: $single;
}

.content h2 {
    color: $primary;
}

/********
*
* Business Landing | aboutMe Page
*
**********/

.themeBlockSection {
    padding-top: $single;
    padding-bottom: $single;
}

.themeBlockSection.odd {
    background-color: $grey;
}


.blockContent h2 {
    color: $black;
}

.themeBlockImageContainer {
    padding-bottom: $double;
    width: 100%;
    height: 220px;
    overflow: hidden;
    @include border (1px transparent);
    @include border-radius(0.375rem);
}


.themeDescriptionContainer p {
    padding: $single;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

    .themesContainer {
        @include display-flex;
        flex-wrap: wrap;
        @include flex-direction(row);
    }

    .themeItem {
        flex: 0 0 50%;
        max-width: 50%;
        padding: $double;
    }

    .themeBlockSection {
        @include display-flex;
        background-color: $white;
    }


    .blockContent {
        @include display-flex;
        @include flex-direction(row-reverse);
    }

    .themeBlockSection.odd {
        .blockContent {
            @include flex-direction(row);
        }
    }

    .themeBlockImageContainer,
    .themeDescriptionContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .themeDescriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 2.25rem;
        }

    }

    .themeBlockImageContainer {
        padding-bottom: initial;
        width: 600px;
        height: 500px;
    }
}