/* Theme: List */

.header {
    padding-left: var(--spacing-single);
	padding-right: var(--spacing-single);
	padding-bottom: var(--spacing-single);
}

.title {
    margin: var(--spacing-single);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

.themeTitle {
    margin: var(--spacing-single);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}


.imagecontainer {
    border: 1px transparent;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0.375rem;
}

.content {
    margin: var(--spacing-single);
}

.title {
    color: var(--color-primary);
}

/* Theme: Block */

.block.odd {
    background-color: #f2f2f2;
}

.blockWrapper {
    margin: 0 auto;
	width: 100%;
}

.blockContent {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.blockDescription {
    padding: var(--spacing-single);
}

.blockImageContainer {
    padding-top: 0;
    padding-bottom: var(--spacing-double);
    overflow: hidden;
    border: 1px transparent;
}



@media (width >= 1440px) {

    .wrapper {
        flex-direction: row;
    }


    .item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 2rem;
    }

    /* Theme: Block */
    .block {
        display: flex;
        background-color: var(--color-white);
    }

    .blockWrapper {
		max-width: var(--container-desktop);
	}

    .blockContent {
        flex-direction: row-reverse;
    }

    .block.odd .blockContent {
        flex-direction: row;
    }

    .blockImageContainer,
    .blockTextContainer {
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 50%;
        max-width: 50%;
    }

}